.product-1 {
  background-color: #ffffff;
  width: 1181px;
  height: 530px;
  padding: 45px 47px 45px 47px;
  gap: 48px;
  opacity: 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.product-1img {
  background-image: url("../assets/innoson-suv.png");
  width: 552px;
  height: 440px;
  gap: 0px;
  opacity: 0px;
}

.product1-box {
  width: 487px;
  height: 307px;
}

.product1-text h4 {
  width: 442px;
  height: 48px;
  font-size: 35px;
  font-weight: 500; 
  line-height: 47.67px;
  text-align: center;
  color: #365fa3;
  /* padding-bottom: 4rem; */
}

.product1-text p {
  width: 487px;
  height: 144px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0f0f0f;
}

.product1-text {
  width: 487px;
  height: 216px;
  gap: 24px;
  opacity: 0px;
}

button {
  background-color: #38d69e;
  width: 171px;
  height: 47px;
  padding: 10px 15px 10px 15px;
  gap: 7px;
  border-radius: 5px;
  opacity: 0px;
  /* margin-top: 2.7rem; */
  border: none;
}


.button-text {
  color: #f7f7f7;
  /* width: 111px;
  height: 27px; */
  font-size: 20px;
  font-weight: 500;
  line-height: 27.24px;
  text-align: center;
}
